# Rust build
target/
**/*.rs.bk

# # Cargo package files
# Cargo.lock

# Executables (Linux, Windows)
*.exe
*.exe~
*.dll
*.so
*.dylib

# By-products of rustup
.rustup/
.cargo/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db

# Logs
*.log

src/feature_vision.md
src/guide.md
